<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CreditGuard AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>

<!--  NAVBAR  -->

<nav>

    <div class="logo">
        🏦 Credit<span>Guard AI</span>
    </div>

</nav>

<!--  HERO  -->

<section class="hero">

    <div class="left">

        <h1>
            AI Powered Credit Risk Prediction
        </h1>

        <p>

            Predict loan approval using Machine Learning, Explainable AI,
            and real financial analysis.

            Get an instant decision with professional banking-style reports.

        </p>

        <div class="buttons">

            <a href="/application" class="btn primary">

                Apply For Loan

            </a>

            <a href="/history" class="btn secondary">

                Prediction History

            </a>

        </div>

    </div>

    <div class="right">

        <div class="card">

            <h2>

                Why CreditGuard AI?

            </h2>

            <ul>

                <li>✔ AI Based Loan Approval</li>

                <li>✔ Explainable AI (SHAP)</li>

                <li>✔ Real-Time Prediction</li>

                <li>✔ Automatic EMI Analysis</li>

                <li>✔ PDF Report Generation</li>

                <li>✔ Prediction History</li>

            </ul>

        </div>

    </div>

</section>

<!--  STATS  -->

<section class="stats">

    <div class="stat-box">

        <h2>95%</h2>

        <p>Prediction Accuracy</p>

    </div>

    <div class="stat-box">

        <h2>30+</h2>

        <p>Input Features</p>

    </div>

    <div class="stat-box">

        <h2>AI</h2>

        <p>Explainable Decision</p>

    </div>

    <div class="stat-box">

        <h2>PDF</h2>

        <p>Professional Report</p>

    </div>

</section>

<!-- FOOTER -->

<footer>

    © 2026 CreditGuard AI • AI Powered Credit Risk Prediction System

</footer>

</body>

</html>